#### Packages for embedded Python ###
#
# Core Tools
#
sip == 4.19.8
numpy == 2.2.6
pandas == 2.3.3
scipy
lmfit
plotly
importlib_metadata
python-dateutil
geopy
folium
Pillow
#
# Nice to have
#
# requests
# scikit-learn
# tensorflow
# keras
